<h1><%= "#{@movie.title} Comments" %></h1>

<%= link_to 'Add Comment', new_movie_comment_path(@movie)%>
<hr />

<ul>
    <% @comments.each do |comment|%>
      <li>
        <h3><%=comment.user.email%> </h3>
        <h3><%=comment.body%> </h3>
        <%= link_to 'Remove', movie_comment_path(@movie, comment), method: :delete %>
        <br />
      </li>
    <%end%>
</ul>